<div class="bg-light p-5 text-center">
    <h4>블루베리 통통이 만듬</h4>
    <h5>☎ 010-8268-9730</h5>
    <button class="btn btn-outline-primary">GitHub</button>
    <button class="btn btn-outline-primary">Notion</button>
</div>
</body>

</html>