<div class="bg-light p-5 text-center">
    <h4>Created by Matthew</h4>
    <h5>☎ 010-9603-2291</h5>
    <button class="btn btn-outline-primary">연휴 잘보내세요</button>
    <button class="btn btn-outline-primary">항상 행복하기</button>
</div>
</body>

</html>